<a href="https://colab.research.google.com/github/gabrieldepaiva/Meus_Projetos/blob/master/Instru%C3%A7%C3%B5es_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Como importar uma base de dados, seja de sites, diretório, etc no Google Colab:

In [ ]:
import pandas as pd

Manualmente (arrastando o arquivo para a pasta "sample_data" e usar o Pandas normalmente, conforme imagem abaixo):

[Imagem que Mostra como Faz](https://drive.google.com/file/d/1rYAatNEmR7bQuGZNOntATqugHIC5b02N/view?usp=sharing)

Usando um módulo do Python:

In [ ]:
# OBS: O arquivo vai para a pasta "sample_data" 

from google.colab import files

upload = files.upload() # para esse exemplo melhor upar um arquivo com o nome 'exemplo.csv'

Em um Jupyter Notebbok local pode desconsiderar os passos acima e começar daqui

In [ ]:
# Para ler o arquivo, seja ele em que formato for como uma base de dados:

df = pd.read_csv('exemplo.csv', sep=';', encoding='latin-1')
df.head()

É possível abrir diversos formatos e de diversas formas, sendo que:

In [ ]:
# Caso o passo abaixo resulte em um erro, colocar como um argumento o comando encoding= 'latin-1'
# No espaço que está o nome do arquivo pode ser específicado a localização do arquivo que se quer abrir

#Para arquivos CSV:
df = pd.read_csv('exemplo.csv', sep=';', encoding='latin-1')

# Para arquivos em Excel:
df = pd.read_excel('exemplo.xlsx')

# Para arquivos no formato JSON:
df = pd.read_json('exemplo.json')

# Para arquivos no formato HTML:
df = pd.read_html('exemplo.json')

# Para sites (no exemplo abaixo o endereço eletrônico estaria em CSV)
df = pd.read_csv('www.endereçoeletrônico.com.br')

Para criar um banco de dados:

In [ ]:
raw_data = {'Primeiro Nome': ['Jakcson', 'Jake', 'Amy'], 
        'Último Nome': ['Miller', 'Milner', 'Wainehouse'], 
        'Idade': [42, 52, 36]}

bcodados = pd.DataFrame(raw_data, columns = ['Primeiro Nome', 'Último Nome', 'Idade']) # foco no .DataFrame
bcodados

  Primeiro Nome Último Nome  Idade
0       Jakcson      Miller     42
1          Jake      Milner     52
2           Amy  Wainehouse     36

Para adicionar uma nova linha ao banco de dados:

In [ ]:
nova_entrada = ['João', 'Lima', 55]

bcodados.loc[len(bcodados)] = nova_entrada # o método .loc informa onde vai ser inserido esse novo registro e o len conta quantos registros tem para inserir na última linha
bcodados

  Primeiro Nome Último Nome  Idade
0       Jakcson      Miller     42
1          Jake      Milner     52
2           Amy  Wainehouse     36
3          João        Lima     55

Para adicionar uma nova coluna ao banco de dados:

In [ ]:
# usar o método insert no objeto correspondente ao banco de dados o qual se quer adicionar uma nova coluna:
# se o nome já existir, vai dar erro, se o número de dados não bater com o número de linhas, vai dar erro.

bcodados.insert(loc=3, column = 'Nova Coluna', value= [1,2,3]) # loc = onde a coluna vai se localizar, sendo que a identação ou contagem começa do 0

ValueError: ignored

Para selecionar apenas uma coluna no banco de dados:

In [ ]:
# colocar o nome do banco de dados e dentro de dois parenteses o nome da coluna:

bcodados[['Idade']]

   Idade
0     42
1     52
2     36

Para salvar um arquivo que foi manipulado ou criado:

In [ ]:
# Para esse exemplo foi usado o banco que dados que acabou de ser criado, mas poderia ser qualquer um deste notebook:
# Obs - ele vai ser salvo no mesmo diretório o qual o notebook está inserido caso não seja especificado caminho dentro do parenteses
# Nota2 - Se estiver usando o Google Colab ele vai salvar na pasta sample_data. É recomendado baixar ou salvar no Drive depois.

bcodados.to_excel('arquivo_criado.xlsx') # para formato excel
bcodados.to_csv('arquivo.criado.csv') # para formato csv