# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 9</font>

## Download: http://github.com/dsacademybr

## Exercício: Análise Exploratória de Dados com Python

In [1]:
# Importando o Pydata Stack
import time
import numpy
import pandas
import matplotlib as mat
from matplotlib import pyplot as plt
from sklearn.datasets import load_iris

In [2]:
# Carregando o dataset disponível na biblioteca sklearn
iris = load_iris()
df = pandas.DataFrame(iris.data, columns = iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

## Extração e Transformação de Dados

In [4]:
# Imprima os valores numéricos da Variável target (o que queremos prever), uma de 3 possíveis categorias de plantas: setosa, versicolor ou virginica

iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [5]:
# Imprima os valores numéricos da Variável target (o que queremos prever), uma de 3 possíveis categorias de plantas: 0, 1 ou 2

nome_valores = iris.target

In [8]:
# Adicione ao dataset uma nova coluna com os nomes das espécies, pois é isso que vamos tentar prever (variável target)

df.insert(loc=4, column='Nome Espécie', value='')
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Nome Espécie
0,5.1,3.5,1.4,0.2,
1,4.9,3.0,1.4,0.2,
2,4.7,3.2,1.3,0.2,
3,4.6,3.1,1.5,0.2,
4,5.0,3.6,1.4,0.2,

In [10]:
# Inclua no dataset uma coluna com os valores numéricos da variável target

df.insert(loc=4, column='Nome Espécie (Cod)',value=nome_valores)
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Nome Espécie (Cod),Nome Espécie
0,5.1,3.5,1.4,0.2,0,
1,4.9,3.0,1.4,0.2,0,
2,4.7,3.2,1.3,0.2,0,
3,4.6,3.1,1.5,0.2,0,
4,5.0,3.6,1.4,0.2,0,

In [ ]:
# Extraia as features (atributos) do dataset e imprima

In [15]:
colunas = df.columns[:]
colunas

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'Nome Espécie (Cod)', 'Nome Espécie'],
      dtype='object')

In [58]:
# Calcule a média de cada feature para as 3 classes

ValueError: Shape of passed values is (6, 1), indices imply (6, 6)

## Exploração de Dados

In [45]:
# Imprima uma Transposta do dataset (transforme linhas e colunas e colunas em linhas)

In [ ]:
# Utilize a função Info do dataset para obter um resumo sobre o dataset

In [ ]:
# Faça um resumo estatístico do dataset

In [ ]:
# Verifique se existem valores nulos no dataset

In [ ]:
# Faça uma contagem de valores de sepal length

## Plot

In [ ]:
# Crie um Histograma de sepal length

In [ ]:
# Crie um Gráficos de Dispersão (scatter Plot) da variável sepal length versus número da linha, 
# colorido por marcadores da variável target

In [ ]:
# Crie um Scatter Plot de 2 Features (atributos)

In [ ]:
# Crie um Scatter Matrix das Features (atributos)

In [ ]:
# Crie um Histograma de todas as features

Conheça a Formação Cientista de Dados, um programa completo, 100% online e 100% em português, com 400 horas, mais de 1.200 aulas em vídeos e 26 projetos, que vão ajudá-lo a se tornar um dos profissionais mais cobiçados do mercado de análise de dados. Clique no link abaixo, faça sua inscrição, comece hoje mesmo e aumente sua empregabilidade:

https://www.datascienceacademy.com.br/pages/formacao-cientista-de-dados

# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>